*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 5 linear; */
}

:root{
  --bg: #0e1724;
  --font: #c6ff29;
  --img_size: 60vmin;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg);
  color: var(--font);
}

nav{
  top: 0;
  width: 100vw;
  padding: 0.6% 2%;
  display: flex;
  justify-content: space-between;
}




.img_area{
  height: 100vmin;
  width: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
  float: none;

}
@media screen and (min-width: 720px){
  .img_area{float: left; margin: auto;}}
  
.img{
  position: relative;
  height: var(--img_size);
  width: var(--img_size);
  animation: 3s hover infinite linear;
}
.img .back, .img .front{
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.border{
  position: absolute;
  top: -8px;
  left: -8px;
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  border: 4px solid #fff;
}
.b1{
  box-shadow:0 0 6px #ff00e6, inset 0 0 6px #ff00e6;
  animation: 5s rotate1 infinite linear;
}
.b2{
  box-shadow:0 0 6px #bbff00, inset 0 0 6px #bbff00;
  animation: 5s rotate2 infinite linear;
}
.b3{
  border-radius: 50%;
  box-shadow:0 -20px 10px #bbff00, inset 0 -20px 10px #bbff00;
  transform: rotateX(255deg);
  animation: 3s expand infinite linear;

}
.img1{
  background-image: url(../IMAGES/photo1.jpg);
  background-size: cover;
}
.img2{
  background-image: url(../IMAGES/photo2.jpg);
  background-size: cover;
}
.img3{
  background-image: url(../IMAGES/photo3.jpg);
  background-size: cover;
}
.img4{
  background-image: url(../IMAGES/photo4.jpg);
  background-size: cover;
}
.transparent{
  opacity: 0;
}

@keyframes rotate1{
  0%{transform: rotateZ(0deg);}
  25%{transform: rotateZ(90deg);}
  50%{transform: rotateZ(180deg);}
  75%{transform: rotateZ(270deg);}
  100%{transform: rotateZ(360deg);}
}
@keyframes rotate2{
  0%{transform: rotateZ(45deg);}
  25%{transform: rotateZ(135deg);}
  50%{transform: rotateZ(225deg);}
  75%{transform: rotateZ(315deg);}
  100%{transform: rotateZ(405deg);}
}
@keyframes hover{
  0%{top: 5%;}
  50%{top: 0%;}
  100%{top: 5%;}
}
@keyframes expand{
  0%{scale: 1.15; top: 44%;}
  50%{scale: 1.20; top: 48%;}
  100%{scale: 1.15; top: 44%;}
}





#content {
  padding: 1%;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

}
.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 45px;
  height: 45px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  font-family: "Font Awesome 5 Free";
}
.social-button::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button i {
  font-size: 20px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button--youtube {
  color: #ff0000;
}
.social-button--youtube::after{
  background: #ff0000;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--playstore {
  color: #0f4db8;
}
.social-button--playstore::after {
  background: #0f4db8;
}
.social-button--gphotos {
  color: #4cff05;
}
.social-button--gphotos::after {
  background: #4cff05;
}
.social-button--poki {
  color: #190769;
}
.social-button--poki::after {
  background: #190769;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--canva {
  color: #38dae5;
}
.social-button--canva::after {
  background: #38dae5;
}
.social-button--telegram {
  color: #1350b9;
}
.social-button--telegram::after {
  background: #1350b9;
}
.social-button--whatsapp {
  color: #07e91a;
}
.social-button--whatsapp::after {
  background: #07e91a;
}
.social-button--pw {
  color: #000000;
}
.social-button--pw::after {
  background: #000000;
}
.social-button--gmail {
  color: #dc0d0c;
}
.social-button--gmail::after {
  background: #dc0d0c;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}
.social-button--gpt{
  color: #27bd90;
}
.social-button--gpt::after{
  background: #27bd90;
}